---
- name: Install Essential packages on the given servers
  hosts: '{{ vm_hosts | default("all")}}'
  become: true
  gather_facts: true
  tasks:
    - name: Install essential packages
      ansible.builtin.apt:
        name:
          - htop
          - build-essential
          - net-tools
          - git
          - vim
          - curl
          - fzf
          - nfs-common
        state: present
        update_cache: true
    - name: Add fzf shell integration to bashrc
      ansible.builtin.lineinfile:
        path: "/home/{{ ansible_user }}/.bashrc"
        line: 'eval "$(fzf --bash)"'
        state: present
    - name: Install fzf keybinding
      ansible.builtin.lineinfile:
        path: "/home/{{ ansible_user }}/.bashrc"
        line: 'source /usr/share/doc/fzf/examples/key-bindings.bash'
        state: present
    - name: Download starship install script
      ansible.builtin.get_url:
        url: https://starship.rs/install.sh
        dest: /tmp/starship-install.sh
        mode: "0755"
    - name: Install starship
      ansible.builtin.command:
        cmd: /tmp/starship-install.sh -y
        creates: /usr/local/bin/starship
    - name: Add starship shell integration to bashrc
      ansible.builtin.lineinfile:
        path: "/home/{{ ansible_user }}/.bashrc"
        line: 'eval "$(starship init bash)"'
        state: present
