---
- name: Install VictoriaMetrics (Vicky) Single
  hosts: '{{ vm_hosts | default("vicky")}}'
  gather_facts: true
  become: true
  roles:
    - victoriametrics.cluster.vmsingle
  vars:
    victoriametrics_system_user: victoriametrics
    victoriametrics_version: "v1.129.1"
    victoriametrics_data_dir: "/var/lib/victoria-metrics/"
    victoriametrics_retention_period_months: "12"
    victoriametrics_self_scrape_interval: "30s"
    victoriametrics_service_args:
      selfScrapeInterval: 30s
      maxConcurrentInserts: 2048
      retentionPeriod: 365d
      inmemoryDataFlushInterval: 1s
      "search.maxUniqueTimeseries": 900000
      "insert.maxQueueDuration": 30s
      "promscrape.config": /etc/victoria-metrics/prom_config.yaml
      storageDataPath: /var/lib/victoria-metrics/
      graphiteListenAddr: :2003
