#cloud-config
users:
  - name: ubuntu
    groups: [sudo, docker]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_public_key}
package_update: true
package_upgrade: true
packages:
  - docker.io
runcmd:
  - |
    docker run -d --restart=always --name=github-runner \
    -e GITHUB_OWNER=${github_owner} \
    -e GITHUB_REPOSITORY=${github_repository} \
    -e GITHUB_PAT=${github_pat} \
    ghcr.io/yelinaung/homelab/github-runner:latest
