---
name: lint
"on": push
jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Install deps
        run: uv run --python 3.14 --with ansible-core ansible-galaxy collection install -v -r ansible/requirements.yml
      - name: Lint code with yamllint
        run: make lint-ansible
