---
name: Main
on:
  push:
    branches: [main]
    paths:
      - "proxmox/**"
      - ".github/workflows/main.yaml"
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
    paths:
      - "proxmox/**"
      - ".github/workflows/main.yaml"
permissions:
  contents: read
jobs:
  checkout:
    runs-on: [self-hosted, Linux, X64, playground-ubuntu]
    steps:
      - uses: actions/checkout@v6
    outputs:
      working-directory: ${{ github.workspace }}

  fmt_and_validate:
    needs: checkout
    runs-on: [self-hosted, Linux, X64, playground-ubuntu]
    defaults:
      run:
        working-directory: ./proxmox
    steps:
      - uses: actions/checkout@v6
      - name: Terraform fmt
        run: terraform fmt -check
        continue-on-error: true
      - name: Terraform Init
        run: terraform init
      - name: Terraform Validate
        run: terraform validate -no-color

  tflint:
    needs: checkout
    runs-on: [self-hosted, Linux, X64, playground-ubuntu]
    defaults:
      run:
        working-directory: ./proxmox
    steps:
      - uses: actions/checkout@v6
      - name: Show TFLint version
        run: tflint --version

      - name: Run TFLint
        run: tflint -f compact --recursive
