---
name: Main
'on':
  push:
  pull_request:
permissions:
  contents: read
jobs:
  secret-detection:
    runs-on: [self-hosted, Linux, X64, playground-ubuntu]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run gitleaks
        run: gitleaks detect --source . --verbose

  fmt_and_validate:
    runs-on: [self-hosted, Linux, X64, playground-ubuntu]
    defaults:
      run:
        working-directory: ./proxmox
    steps:
      - uses: actions/checkout@v6
      - name: Terraform fmt
        run: terraform fmt -check
        continue-on-error: true
      - name: Terraform Init
        run: terraform init
      - name: Terraform Validate
        run: terraform validate -no-color

  tflint:
    runs-on: [self-hosted, Linux, X64, playground-ubuntu]
    defaults:
      run:
        working-directory: ./proxmox
    steps:
      - uses: actions/checkout@v6
      - name: Show TFLint version
        run: tflint --version

      - name: Run TFLint
        run: tflint -f compact --recursive
